@import 'core/config';
@import 'core/reset';
@import 'core/typo';

.sup-header {
    background-color: $gray-light;
}

.footer {
    background-color: $gray-dark;

    &__text {
        color: #fff;
    }
}

.padding-y-0 {
    padding-top: 0;
    padding-bottom: 0;
}

/* stylelint-disable-next-line selector-type-no-unknown */
grid {
    gutter: $padding;
    columns: 3;
}
