h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 30px;
    line-height: 34px;
}

h2 {
    font-size: 22px;
    line-height: 30px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
}

h4 {
    font-size: 16px;
    line-height: 20px;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: $gray-base;
    padding-bottom: 20px;
}
